doctype html
html(class="no-js", lang="en")

	include ../components/head/head
	include ../components/header/header
	include ../components/footer/footer

	head
		+head(head.defaults)
	body
		main.main
			.main__layout
				.main__header
					block header
						+header
				.main__content
					block content
						h1 Hello, I'm layout!
			.main__footer
				block footer
					+footer
				block modals

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')