mixin social(data)
  .social
    a(href="#" title="").social__item._instagram
    a(href="#" title="").social__item._facebook
    a(href="#" title="").social__item._twitter
    a(href="#" title="").social__item._google-plus